<a href="https://colab.research.google.com/github/mansi5858/Practice_Data_Mining/blob/main/CreditAnalysisPreprocessing_Full.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Credit card approval dataset

Source: https://archive.ics.uci.edu/ml/datasets/Credit+Approval

In [ ]:
# Import the pandas library. More information: https://pandas.pydata.org/
import pandas as pd

# Import the data as a pandas dataframe
credit_approval = pd.read_csv("content/crx.data", header=None, na_values="?")

credit_approval.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690 entries, 0 to 689
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       678 non-null    object
 1   1       678 non-null    float64
 2   2       690 non-null    float64
 3   3       684 non-null    object
 4   4       684 non-null    object
 5   5       681 non-null    object
 6   6       681 non-null    object
 7   7       690 non-null    float64
 8   8       690 non-null    object
 9   9       690 non-null    object
 10  10      690 non-null    int64
 11  11      690 non-null    object
 12  12      690 non-null    object
 13  13      677 non-null    float64
 14  14      690 non-null    int64
 15  15      690 non-null    object
dtypes: float64(4), int64(2), object(10)
memory usage: 86.4+ KB

In [ ]:
credit_approval[0].value_counts()

0
b    468
a    210
Name: count, dtype: int64

In [ ]:
credit_approval[14].describe()

count       690.000000
mean       1017.385507
std        5210.102598
min           0.000000
25%           0.000000
50%           5.000000
75%         395.500000
max      100000.000000
Name: 14, dtype: float64

In [ ]:
credit_approval = credit_approval.fillna(credit_approval.mean())
print(credit_approval.info())

print("Number of nulls:", credit_approval.isnull().values.sum())

TypeError: can only concatenate str (not "int") to str

In [ ]:
#credit_approval.dropna()
for column in credit_approval.columns:
  credit_approval[column] = credit_approval[column].fillna(credit_approval[column].value_counts().index[0])
print(credit_approval.info())

print("Number of nulls:", credit_approval.isnull().values.sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690 entries, 0 to 689
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       690 non-null    object
 1   1       690 non-null    float64
 2   2       690 non-null    float64
 3   3       690 non-null    object
 4   4       690 non-null    object
 5   5       690 non-null    object
 6   6       690 non-null    object
 7   7       690 non-null    float64
 8   8       690 non-null    object
 9   9       690 non-null    object
 10  10      690 non-null    int64
 11  11      690 non-null    object
 12  12      690 non-null    object
 13  13      690 non-null    float64
 14  14      690 non-null    int64
 15  15      690 non-null    object
dtypes: float64(4), int64(2), object(10)
memory usage: 86.4+ KB
None
Number of nulls: 0

Preprocessing

In [ ]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
print(credit_approval[6])
temp = le.fit_transform(credit_approval[6])
print(temp)

0       v
1       h
2       h
3       v
4       v
       ..
685     h
686     v
687    ff
688     v
689     h
Name: 6, Length: 690, dtype: object
[7 3 3 7 7 7 3 7 3 7 3 3 7 7 7 7 7 7 3 3 7 7 7 3 7 3 0 0 3 7 7 3 0 7 7 7 3
 3 7 2 7 3 3 7 7 3 3 3 0 7 3 7 7 7 3 7 7 3 3 3 7 7 7 7 7 7 7 7 3 3 0 0 7 7
 7 7 7 7 7 7 2 7 7 7 7 0 7 7 7 4 3 7 7 3 7 0 7 0 7 7 0 7 7 7 3 8 7 7 3 7 7
 2 7 0 3 7 3 7 7 3 7 7 7 7 7 3 0 7 0 7 8 7 0 0 3 3 7 7 7 3 3 2 3 7 3 3 7 3
 0 7 3 7 3 7 3 4 3 8 3 0 3 7 7 3 7 3 7 7 3 7 7 0 3 3 3 7 7 7 7 7 0 0 7 7 7
 3 0 7 7 3 7 3 7 7 0 0 7 3 7 7 3 0 7 7 7 3 7 3 7 0 3 7 2 7 7 7 3 2 7 7 7 8
 7 7 7 0 7 7 7 7 7 7 3 7 0 7 0 7 7 7 7 7 7 7 7 3 3 3 0 7 8 3 3 3 7 3 7 7 7
 7 3 2 6 3 2 7 1 7 7 5 7 7 7 7 3 7 3 3 2 7 3 3 7 7 7 3 2 7 7 4 7 7 7 7 2 2
 2 7 7 7 2 7 7 7 3 2 2 2 3 4 7 7 7 7 7 7 3 6 0 7 7 2 7 7 7 7 7 0 7 7 7 7 7
 7 0 3 7 3 7 7 7 7 0 0 7 8 7 0 7 7 4 2 7 7 7 7 7 7 7 2 7 2 2 7 1 7 7 7 3 5
 7 1 3 7 7 1 7 7 0 0 0 7 0 2 7 7 7 7 0 7 7 0 0 7 7 7 3 2 3 7 7 7 0 7 0 2 7
 7 7 7 2 7 7 0 7 2 7 7 7 2 7 7 7 7 7 7 7 7 2 7 2 7 7 7 7 2 2 2 2 7 7 2 7 7
 2 2 7 2 2 7 0 7 7 7 7 7 7 7 0 7 7 7 7 2 4 7 7 3 7 3 3 3 7 7 7 7 3 3 7 7 7
 7 7 7 7 2 7 7 2 7 3 7 7 3 3 7 3 7 7 7 7 7 2 7 7 7 7 3 7 7 7 4 7 1 3 7 7 7
 7 7 7 1 7 7 7 7 7 0 3 3 3 3 0 2 7 2 2 3 0 7 7 0 3 7 0 7 7 3 7 7 8 0 5 7 3
 3 7 7 3 3 3 3 3 3 3 7 3 3 7 7 7 7 7 2 3 3 7 7 7 7 7 7 7 3 8 2 3 7 7 7 7 3
 7 7 7 0 7 7 7 7 7 7 7 7 3 7 7 7 7 0 7 3 7 0 7 3 7 2 7 7 7 4 7 7 7 7 0 2 3
 7 7 3 2 2 7 5 7 7 7 7 0 7 7 3 7 7 7 7 3 2 0 7 7 7 7 2 3 7 7 7 7 7 7 7 7 7
 7 7 3 2 7 7 7 3 3 7 3 7 2 7 7 3 7 7 7 3 7 2 7 3]

In [ ]:
for column in credit_approval.columns:
  if credit_approval[column].dtype == "object":
    credit_approval[column] = le.fit_transform(credit_approval[column])
credit_approval.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690 entries, 0 to 689
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       690 non-null    int64
 1   1       690 non-null    float64
 2   2       690 non-null    float64
 3   3       690 non-null    int64
 4   4       690 non-null    int64
 5   5       690 non-null    int64
 6   6       690 non-null    int64
 7   7       690 non-null    float64
 8   8       690 non-null    int64
 9   9       690 non-null    int64
 10  10      690 non-null    int64
 11  11      690 non-null    int64
 12  12      690 non-null    int64
 13  13      690 non-null    float64
 14  14      690 non-null    int64
 15  15      690 non-null    int64
dtypes: float64(4), int64(12)
memory usage: 86.4 KB

In [ ]:
credit_approval.head()

   0      1      2   3   4   5   6     7   8   9   10  11  12     13   14  15
0   1  30.83  0.000   1   0  12   7  1.25   1   1   1   0   0  202.0    0   0
1   0  58.67  4.460   1   0  10   3  3.04   1   1   6   0   0   43.0  560   0
2   0  24.50  0.500   1   0  10   3  1.50   1   0   0   0   0  280.0  824   0
3   1  27.83  1.540   1   0  12   7  3.75   1   1   5   1   0  100.0    3   0
4   1  20.17  5.625   1   0  12   7  1.71   1   0   0   0   2  120.0    0   0

In [ ]:
from sklearn.preprocessing import MinMaxScaler
def preprocess_minmax(data):
  scaler = MinMaxScaler(feature_range=(0, 1))
  return scaler.fit_transform(data)

In [ ]:
temp_minmax = preprocess_minmax(credit_approval)
print(temp_minmax)

[[1.00000000e+00 2.56842105e-01 0.00000000e+00 ... 1.01000000e-01
  0.00000000e+00 0.00000000e+00]
 [0.00000000e+00 6.75488722e-01 1.59285714e-01 ... 2.15000000e-02
  5.60000000e-03 0.00000000e+00]
 [0.00000000e+00 1.61654135e-01 1.78571429e-02 ... 1.40000000e-01
  8.24000000e-03 0.00000000e+00]
 ...
 [0.00000000e+00 1.72932331e-01 4.82142857e-01 ... 1.00000000e-01
  1.00000000e-05 1.00000000e+00]
 [1.00000000e+00 6.27067669e-02 7.32142857e-03 ... 1.40000000e-01
  7.50000000e-03 1.00000000e+00]
 [1.00000000e+00 3.19548872e-01 1.20535714e-01 ... 0.00000000e+00
  0.00000000e+00 1.00000000e+00]]

In [ ]:
from sklearn.preprocessing import StandardScaler
def preprocess_std(data):
  scaler = StandardScaler()
  return scaler.fit_transform(data)

In [ ]:
temp = preprocess_std(credit_approval)
print(temp[:, 1])

[-4.90200783e-02  2.29014948e+00 -5.80878673e-01 -3.01085763e-01
 -9.44693478e-01  5.60072904e-02  1.47591156e-01 -7.13633267e-01
  1.93305642e+00  9.31515436e-01 -7.84211659e-01 -1.25480003e-01
  5.74422382e-01  1.40035761e+00  1.21130835e+00  4.41667788e-01
 -2.65796567e-01 -6.85906042e-01 -8.05217133e-01 -1.02871537e+00
 -5.38867726e-01 -6.85906042e-01  1.37263038e+00 -3.35534740e-01
  8.19766315e-01 -1.30934850e+00  1.30961396e+00  2.11454372e+00
  2.18512211e+00  8.96226240e-01 -1.81774672e-01  8.89504488e-01
  1.51966870e+00  4.48389540e-01 -7.42200711e-01 -3.01085763e-01
 -3.49818462e-01 -7.06911516e-01 -3.07807515e-01  1.94649993e+00
  2.31613051e-01 -2.09501898e-01 -1.46485476e-01  6.86171502e-01
  2.10110021e+00  1.92549445e+00  8.05482593e-01  4.25637872e-02
  8.47493541e-01 -6.29611372e-01 -4.75851305e-01 -4.54845831e-01
  5.04684209e-01  2.94629472e-01  2.38334802e-01 -6.79184290e-01
 -6.92627793e-01  1.08527550e+00  3.15634946e-01  9.94531857e-01
  2.12882744e+00  2.15583134e-02 -6.71622320e-01 -9.23688005e-01
 -3.98551161e-01  2.31613051e-01  3.85373119e-01 -4.96856778e-01
 -1.00770990e+00  3.15634946e-01  7.70127641e-02  2.87067501e-01
  6.02149607e-01  1.07855375e+00  1.12728645e+00 -9.02682531e-01
  2.24051080e-01 -1.02871537e+00 -8.18660636e-01 -8.32944358e-01
  1.52639045e+00 -3.14529266e-01  7.07176976e-01 -7.34638741e-01
 -3.49818462e-01  4.83678736e-01 -7.34638741e-01 -4.82573056e-01
  2.17329329e-01  1.47765775e+00  2.61195333e+00  5.52839714e-04
 -7.34638741e-01  1.75745066e+00 -2.23785620e-01 -2.38069342e-01
 -7.06911516e-01 -7.34638741e-01 -7.48922463e-01 -2.44791093e-01
  5.11405961e-01  3.22356697e-01 -1.07072632e+00 -5.38867726e-01
 -3.01085763e-01  1.96750540e+00 -2.23785620e-01 -5.38867726e-01
  7.98760842e-01 -9.79982674e-01 -1.88496424e-01 -5.80878673e-01
 -5.74156922e-01  1.96323855e-01 -9.02682531e-01 -5.03578530e-01
  5.32411435e-01  1.77173438e+00  2.21957108e+00 -8.95960779e-01
  7.14738947e-01 -4.82573056e-01 -5.59873199e-01  1.07183200e+00
 -6.64900568e-01  2.94629472e-01  1.36590863e+00 -7.27916989e-01
  2.52618525e-01 -2.51512845e-01  3.05306828e+00 -9.23688005e-01
  1.34490316e+00  4.06378592e-01  1.05580208e-01  1.44236856e+00
  7.14738947e-01  1.82040133e-01 -1.05728282e+00 -3.77545687e-01
 -1.37308824e-02  2.10782196e+00  9.73526383e-01 -7.63206185e-01
 -3.49818462e-01  1.19023712e-01 -6.85906042e-01  7.49187924e-01
 -7.67473036e-02  1.79946161e+00  1.28188674e+00  2.26158203e+00
  4.97122239e-01 -7.00189764e-01  1.12301960e-01 -8.18660636e-01
 -2.44791093e-01  3.13036843e+00 -2.86802041e-01  2.24051080e-01
 -3.14529266e-01  1.05754828e+00 -5.32145974e-01  4.92855388e-02
  2.45063130e+00  7.91198871e-01 -1.01527187e+00  7.70127641e-02
  4.41667788e-01  5.11405961e-01 -5.32145974e-01  8.33209819e-01
  2.06581102e+00  1.54739593e+00 -7.34638741e-01 -3.70823936e-01
 -5.38867726e-01 -4.48124079e-01 -1.09173179e+00 -9.44693478e-01
  1.36590863e+00 -8.53949832e-01 -9.02682531e-01  2.15655466e+00
 -7.55644215e-01  1.45665228e+00  7.21460698e-01  7.70193397e-01
 -2.30507371e-01  1.40029185e-01 -8.47228080e-01  8.89504488e-01
  8.68499014e-01 -7.34638741e-01  2.59340276e-01 -2.65796567e-01
  1.47591156e-01  1.40791958e+00 -3.22091237e-01 -7.42200711e-01
 -6.16167869e-01  8.33209819e-01 -5.53151448e-01 -8.95960779e-01
  4.13100344e-01  3.36640419e-01  3.37487214e+00 -2.30507371e-01
  3.15634946e-01  6.79449751e-01  6.65166029e-01 -5.95162395e-01
  2.40862035e+00 -7.00189764e-01 -3.98551161e-01  1.40791958e+00
  8.19766315e-01  2.05908927e+00  1.89104548e+00 -1.04972085e+00
  1.56840140e+00  2.85729727e+00 -1.16231019e+00 -1.05728282e+00
  5.32411435e-01 -6.85906042e-01 -1.12029924e+00 -7.48922463e-01
 -9.86704426e-01 -7.84211659e-01 -5.24584004e-01  1.34490316e+00
  1.75318381e-01 -3.14529266e-01  2.26914400e+00 -9.02682531e-01
 -4.40562109e-01 -8.47228080e-01  9.59242661e-01  5.67700631e-01
 -9.16966253e-01  1.41464133e+00 -2.59074816e-01 -1.06400457e+00
 -1.08501004e+00  1.47591156e-01  1.14157017e+00 -9.86704426e-01
 -5.80878673e-01 -8.05217133e-01  7.42466172e-01  8.40771789e-01
 -1.14130471e+00 -6.92627793e-01 -7.34638741e-01 -1.11273727e+00
 -9.58977200e-01 -9.58977200e-01 -8.95960779e-01 -5.80878673e-01
  1.12301960e-01  1.74400716e+00  1.40791958e+00 -9.23688005e-01
  1.62469607e+00 -1.20432113e+00 -1.09929376e+00  4.92855388e-02
  2.37417137e+00 -1.12702099e+00  5.18127713e-01  7.70127641e-02
 -1.12029924e+00  5.74422382e-01 -6.24635815e-02 -1.07828829e+00
 -1.02871537e+00 -1.11273727e+00 -5.74156922e-01 -1.27405931e+00
 -8.60671583e-01 -6.29611372e-01 -1.15474822e+00 -1.25305383e+00
 -6.85906042e-01 -1.16231019e+00 -7.34638741e-01 -1.60769199e-01
 -1.05728282e+00 -8.11938884e-01 -7.06911516e-01 -1.10601552e+00
 -5.03578530e-01  3.64367645e-01 -1.28834303e+00  4.25637872e-02
  3.17237937e+00  1.26585682e-01 -1.26733755e+00 -7.76649688e-01
  2.19856561e+00 -1.10601552e+00 -6.71622320e-01 -1.30178653e+00
 -5.59873199e-01  1.45665228e+00 -6.64900568e-01 -1.07828829e+00
 -3.07807515e-01  2.82800650e-02 -5.53151448e-01 -1.04299910e+00
 -1.26733755e+00 -1.07828829e+00 -1.27405931e+00 -7.06911516e-01
 -8.60671583e-01 -1.16903194e+00 -1.02871537e+00  4.48389540e-01
 -8.53949832e-01 -1.12029924e+00  1.89602103e-01  1.44236856e+00
  1.89602103e-01 -1.60769199e-01 -1.04474529e-01  7.91198871e-01
  2.87067501e-01 -7.34638741e-01 -9.23688005e-01  1.54312907e-01
  2.24051080e-01 -5.17862252e-01  2.80345750e-01 -3.14529266e-01
  1.33734119e+00  2.87067501e-01  1.54312907e-01 -2.86802041e-01
  6.44160555e-01  9.52520909e-01 -3.77545687e-01  1.96323855e-01
  6.30717052e-01  2.63295881e+00  7.02910125e-02 -3.91829410e-01
  2.68169151e+00 -3.01085763e-01 -4.40562109e-01 -7.76649688e-01
 -7.48922463e-01 -5.57418299e-02  4.41667788e-01 -1.29506478e+00
  8.19766315e-01 -1.00098815e+00  8.45747346e-02  4.48389540e-01
 -9.77527774e-02 -7.00189764e-01 -3.85107658e-01 -1.21776464e+00
 -5.87600425e-01  9.59242661e-01 -7.27916989e-01  6.72727999e-01
 -6.58178817e-01 -8.39666110e-01  1.33307434e-01 -4.27118605e-01
  1.14157017e+00 -4.33840357e-01 -2.72518319e-01 -8.89239028e-01
 -2.30507371e-01 -9.02682531e-01  2.52618525e-01  1.82040133e-01
  9.87810105e-01 -7.34638741e-01 -5.95162395e-01  2.13554919e+00
 -7.84211659e-01  2.17329329e-01 -7.42200711e-01 -8.60671583e-01
 -3.98551161e-01 -7.13633267e-01 -1.36480295e+00  7.14738947e-01
 -3.35534740e-01 -5.59873199e-01  8.19766315e-01  1.40029185e-01
 -1.33041973e-01 -6.58178817e-01 -4.40562109e-01 -3.47363562e-02
 -8.95960779e-01 -2.09501898e-01  1.72300169e+00 -7.34638741e-01
  2.17329329e-01  3.20010660e+00  7.49187924e-01 -9.94266396e-01
 -1.29506478e+00 -1.20432113e+00 -1.37308824e-02 -5.24584004e-01
 -7.34638741e-01  7.70193397e-01 -7.69927937e-01 -7.69927937e-01
 -7.48922463e-01 -6.58178817e-01  5.88706104e-01 -4.06113132e-01
  3.01351224e-01 -9.23688005e-01 -1.67490950e-01 -4.40562109e-01
  1.89602103e-01 -5.74156922e-01 -3.14529266e-01  5.11405961e-01
  1.49194147e+00  1.82040133e-01  1.71543972e+00 -7.13633267e-01
 -8.05217133e-01 -5.17862252e-01  2.28258751e+00 -1.04299910e+00
 -9.94266396e-01  1.84147256e+00 -3.56540214e-01 -4.61567582e-01
 -7.00189764e-01  6.86171502e-01 -7.00255520e-02 -1.19003741e+00
 -1.15474822e+00 -7.34638741e-01 -1.25305383e+00 -3.43096711e-01
 -1.37308824e-02 -9.58977200e-01 -7.34638741e-01  6.79449751e-01
  4.27384066e-01 -1.39763725e-01  1.76501263e+00  3.99656841e-01
  2.66062028e-01 -1.46485476e-01  3.99656841e-01 -4.82573056e-01
 -5.80878673e-01 -6.16167869e-01 -7.97655162e-01  4.34105818e-01
 -7.06911516e-01 -3.22091237e-01 -2.80146046e-02 -8.34690552e-02
 -7.84211659e-01 -1.26733755e+00 -7.97655162e-01 -8.68233554e-01
 -1.17575369e+00 -1.02871537e+00 -9.02682531e-01 -3.91829410e-01
 -6.58178817e-01  6.51722525e-01 -7.27916989e-01 -4.12834883e-01
 -1.21776464e+00 -6.64900568e-01 -1.18331566e+00 -6.43895094e-01
  2.73623998e-01  3.64794330e+00 -2.72518319e-01 -5.80878673e-01
 -1.05728282e+00  1.16929740e+00  1.33061944e+00 -6.08605899e-01
  6.58444277e-01 -9.16966253e-01 -1.05728282e+00 -1.02871537e+00
 -5.38867726e-01 -9.44693478e-01 -4.75851305e-01 -9.23688005e-01
 -7.34638741e-01  6.37438803e-01  2.74470793e+00 -2.65796567e-01
 -2.23785620e-01 -7.00913083e-03 -1.04972085e+00 -5.59873199e-01
 -6.24635815e-02 -8.74955305e-01 -1.48411404e+00  1.22559207e+00
  1.08527550e+00 -9.37971727e-01 -7.34638741e-01 -7.34638741e-01
  2.47919874e+00 -1.28834303e+00 -2.72518319e-01  6.51722525e-01
 -9.23688005e-01 -1.18758251e-01 -7.21195238e-01 -7.48922463e-01
 -2.38069342e-01  1.15585390e+00  8.54215292e-01  2.15655466e+00
  2.04480554e+00  9.94531857e-01 -5.11140500e-01 -5.74156922e-01
  9.87810105e-01  7.98760842e-01  3.50018166e-02  2.10607577e-01
 -5.45589477e-01  3.22356697e-01  2.38334802e-01  4.10334197e+00
 -1.00770990e+00  9.52520909e-01 -9.86704426e-01  4.13100344e-01
 -1.12036499e-01  1.07855375e+00 -6.58178817e-01 -6.29611372e-01
  1.47591156e-01  1.42136308e+00  3.80926534e+00  1.67342877e+00
  2.80345750e-01  6.02149607e-01 -7.55644215e-01  8.82782737e-01
 -1.54047447e-01  6.35692609e-02  1.68099074e+00 -7.21195238e-01
 -5.38867726e-01 -3.91829410e-01 -6.79184290e-01 -5.87600425e-01
  9.03788210e-01 -8.89239028e-01 -7.00189764e-01 -5.24584004e-01
  9.80248135e-01  3.64367645e-01  2.35988765e+00 -8.74955305e-01
 -7.97655162e-01  2.83629179e+00 -9.31249975e-01  7.02910125e-02
 -1.04474529e-01 -5.24584004e-01  6.51722525e-01  6.44160555e-01
  2.15583134e-02  8.05482593e-01  1.43564681e+00  1.05580208e-01
 -2.80080289e-01  3.52947243e+00  2.74470793e+00  1.69443424e+00
 -3.98551161e-01 -5.11140500e-01 -1.04474529e-01 -3.70823936e-01
 -6.92627793e-01  2.31613051e-01  6.09711578e-01 -4.75851305e-01
  1.23231382e+00 -8.32944358e-01 -9.52255449e-01 -9.16966253e-01
 -1.60769199e-01  9.10509962e-01 -1.33041973e-01 -9.52255449e-01
 -6.71622320e-01 -1.54047447e-01 -1.28078106e+00  7.70127641e-02
 -7.34638741e-01  1.37935214e+00 -9.58977200e-01 -3.22091237e-01
 -7.90933411e-01 -1.01527187e+00  5.81144134e-01 -1.67490950e-01
 -7.34638741e-01  7.02910125e-02 -1.54047447e-01 -1.09173179e+00
 -7.76649688e-01 -7.34638741e-01 -4.90135027e-01 -1.05728282e+00
 -8.26222606e-01 -6.43895094e-01 -7.90933411e-01  3.92094870e-01
 -1.81774672e-01 -9.94266396e-01 -7.13633267e-01 -3.49818462e-01
  6.16433330e-01  8.45747346e-02 -6.43895094e-01 -1.11273727e+00
  7.98760842e-01 -1.00098815e+00 -2.38069342e-01  3.50083923e-01
  2.31613051e-01  1.47591156e-01  1.39963429e-02  1.77173438e+00
  3.99656841e-01  4.97122239e-01 -8.89239028e-01 -6.16167869e-01
 -4.90135027e-01  3.15634946e-01  1.40035761e+00 -1.30934850e+00
 -7.48922463e-01 -8.32944358e-01 -6.58178817e-01 -8.68233554e-01
 -4.82573056e-01  6.30717052e-01 -1.31607025e+00 -2.38069342e-01
 -7.69927937e-01 -1.33041973e-01 -6.64900568e-01  5.60072904e-02
 -2.80146046e-02  3.50018166e-02 -8.11938884e-01 -1.13374274e+00
 -9.10310258e-02  1.71543972e+00  1.32389768e+00 -4.69129553e-01
  1.58268512e+00 -1.60769199e-01  4.97122239e-01  8.54215292e-01
 -7.00255520e-02 -1.00770990e+00 -1.13374274e+00 -9.52255449e-01
 -1.00098815e+00 -3.01085763e-01 -1.20432113e+00  4.20662314e-01
  7.70193397e-01 -8.68233554e-01 -7.34638741e-01 -5.17862252e-01
 -1.13374274e+00  3.01351224e-01]

In [ ]:
import numpy as np

tempdf = pd.DataFrame((temp))
tempdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690 entries, 0 to 689
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       690 non-null    float64
 1   1       690 non-null    float64
 2   2       690 non-null    float64
 3   3       690 non-null    float64
 4   4       690 non-null    float64
 5   5       690 non-null    float64
 6   6       690 non-null    float64
 7   7       690 non-null    float64
 8   8       690 non-null    float64
 9   9       690 non-null    float64
 10  10      690 non-null    float64
 11  11      690 non-null    float64
 12  12      690 non-null    float64
 13  13      690 non-null    float64
 14  14      690 non-null    float64
 15  15      690 non-null    float64
dtypes: float64(16)
memory usage: 86.4 KB

In [ ]:
tempdf[1].describe()

count    6.900000e+02
mean    -2.471453e-16
std      1.000725e+00
min     -1.484114e+00
25%     -7.346387e-01
50%     -2.725183e-01
75%      5.288405e-01
max      4.103342e+00
Name: 1, dtype: float64